:root {
  --greenDark: #074e1c;
  --greenSoft: #25DF54;
  --blueDark: #041227;
  --white: rgb(243, 243, 243);
  /* --gray: rgba(167, 167, 167, 0.5); */
  --gray: linear-gradient(300deg, rgba(167, 167, 167, 0.5) 40%, transparent 100%);
}
.App{
  mix-blend-mode: overlay;
  background-color: var(--blueDark);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}

.backToTop{
  background-color: rgba(255, 255, 255, 0.651);
  width: 5.5rem;
  height: 5.5rem;
  padding: 0.2rem 0 0;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  cursor: pointer;
  backdrop-filter: blur(4px);
  z-index: 9;
}

.backToTop img{
  width: 65%;
}

::-webkit-scrollbar{
  display: none;
}