@font-face {
  font-family: 'Rajdhani-Bold';
  src: local('Rajdhani-Bold'), url(./fonts/Rajdhani-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: local('Rajdhani-SemiBold'), url(./fonts/Rajdhani-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik-VariableFont_wght'), url(./fonts/Rubik-VariableFont_wght.ttf) format('truetype');
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
}

body{
  margin: 0;
}

@media (min-width: 2000px) {
  html{
    font-size: 80%;
  }
}

@media (min-width: 2500px) {
  html{
    font-size: 90%;
  }
}

@media (max-width: 1080px) {
  html{
    font-size: 55%;
  }
}